In [1]:
## Load PySpark
from pyspark import SparkContext

In [2]:
sc = SparkContext(master="local")

In [83]:
# USing Spark UI
sc

# PySpark- Import Libraries

In [85]:
import pyspark

In [86]:
# to Review Methods / Attrib in pyspark
dir(pyspark)

['Accumulator',
 'AccumulatorParam',
 'BarrierTaskContext',
 'BarrierTaskInfo',
 'BasicProfiler',
 'Broadcast',
 'HiveContext',
 'InheritableThread',
 'MarshalSerializer',
 'PickleSerializer',
 'Profiler',
 'RDD',
 'RDDBarrier',
 'Row',
 'SQLContext',
 'SparkConf',
 'SparkContext',
 'SparkFiles',
 'SparkJobInfo',
 'SparkStageInfo',
 'StatusTracker',
 'StorageLevel',
 'TaskContext',
 '_NoValue',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_globals',
 'accumulators',
 'broadcast',
 'cloudpickle',
 'conf',
 'context',
 'copy_func',
 'files',
 'find_spark_home',
 'inheritable_thread_target',
 'java_gateway',
 'join',
 'keyword_only',
 'ml',
 'profiler',
 'rdd',
 'rddsampler',
 'resource',
 'resultiterable',
 'serializers',
 'shuffle',
 'since',
 'sql',
 'statcounter',
 'status',
 'storagelevel',
 'taskcontext',
 'traceback_utils',
 'types',
 'util',
 'version',
 'wraps']

In [87]:
from pyspark.sql import SparkSession #import the method

In [88]:
# Spark Session for DF
spark = SparkSession.builder.appName("MLwithSpark").getOrCreate()

In [89]:
#import pyspark
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.master("local").appName("test").getOrCreate()

# Step 1 (8 points): The goal of this step is to read the data from the local folder. You should infer the schema (e.g., columns) from the csv file. Tip: explore the spark_csv package from databricks.

# I) Read the data from the local folder

In [90]:
# Read CSV file without header/Schema
df = spark.read.csv("C:\\Users\\Zed Kamurase\\Desktop\\MSBA22\\SPRING JAN-MAY 2022\\1. ISOM-676-4101 Machine Learning II\\Assignments\\2\\titanic\\train.csv")

In [91]:
# Preview Data
df.show(5)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|        _c0|     _c1|   _c2|                 _c3|   _c4|_c5|  _c6|  _c7|             _c8|    _c9| _c10|    _c11|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [ ]:
# Infer with schema

In [92]:
#Read CSV file with header/Schema

In [94]:
df = spark.read.csv(
    path="C:\\Users\\Zed Kamurase\\Desktop\\MSBA22\\SPRING JAN-MAY 2022\\1. ISOM-676-4101 Machine Learning II\\Assignments\\2\\titanic\\train.csv",
    header=True,
    quote='"',
    inferSchema=True
    )

### Step 2 : The goal of this step is to familiarize yourself with the dataset. This step is useful in detecting data problems, informing the data engineering steps, and informing the feature selection processes.

In [95]:
# Print the dataset and verify that the schema contains all the variables.

In [97]:
df.show()
df.printSchema()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

I)Print the first 10 rows from the dataset

In [17]:
df.show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

II)Obtain summary statistics for all variables in the dataframe. Pay attention to whether there are
missing data as well as whether the field appears to be continuous or discrete

ii)	Print the first 10 rows from the dataset.

In [18]:
df.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

iv)	For each of the string columns (except name and ticket), print the count of the 10 most frequent values ordered by descending order of frequency.

In [99]:
df.show(5)
## Get Datatype of each columns
print('===========================================')
df.printSchema()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

===========================================
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [100]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

iv)	For each of the string columns (except name and ticket), print the count of the 10 most frequent values ordered by descending order of frequency.
* Drop Columns (Name and ticket) and name it as new_df

In [21]:
new_df = df.drop('Name','Ticket')

In [22]:
new_df.sort('PassengerId','Survived','Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked', ascending=False).show(10)

+-----------+--------+------+------+----+-----+-----+-------+-----+--------+
|PassengerId|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Cabin|Embarked|
+-----------+--------+------+------+----+-----+-----+-------+-----+--------+
|        891|       0|     3|  male|32.0|    0|    0|   7.75| null|       Q|
|        890|       1|     1|  male|26.0|    0|    0|   30.0| C148|       C|
|        889|       0|     3|female|null|    1|    2|  23.45| null|       S|
|        888|       1|     1|female|19.0|    0|    0|   30.0|  B42|       S|
|        887|       0|     2|  male|27.0|    0|    0|   13.0| null|       S|
|        886|       0|     3|female|39.0|    0|    5| 29.125| null|       Q|
|        885|       0|     3|  male|25.0|    0|    0|   7.05| null|       S|
|        884|       0|     2|  male|28.0|    0|    0|   10.5| null|       S|
|        883|       0|     3|female|22.0|    0|    0|10.5167| null|       S|
|        882|       0|     3|  male|33.0|    0|    0| 7.8958| null|       S|
+-----------+--------+------+------+----+-----+-----+-------+-----+--------+
only showing top 10 rows

V)I have kept the data type that is not string, columns with string data type are not insightful in the model.

# Step3 The goal of this step is to engineer the necessary features for the machine learning model.
Logistic model

i)	Select all feature columns you plan to use in addition to the target variable (i.e., ‘Survived’) and covert all numerical columns into double data type. Tip: you can use the. cast() from pyspark.sql.functions.

In [24]:
new_df.show(5)

+-----------+--------+------+------+----+-----+-----+-------+-----+--------+
|PassengerId|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Cabin|Embarked|
+-----------+--------+------+------+----+-----+-----+-------+-----+--------+
|          1|       0|     3|  male|22.0|    1|    0|   7.25| null|       S|
|          2|       1|     1|female|38.0|    1|    0|71.2833|  C85|       C|
|          3|       1|     3|female|26.0|    0|    0|  7.925| null|       S|
|          4|       1|     1|female|35.0|    1|    0|   53.1| C123|       S|
|          5|       0|     3|  male|35.0|    0|    0|   8.05| null|       S|
+-----------+--------+------+------+----+-----+-----+-------+-----+--------+
only showing top 5 rows

         *  ========I dropped Cabin and Embarked columns Bz they have string data types=====

In [25]:
dataset = new_df.select('PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare', 'Survived')
dataset.show()

+-----------+------+------+----+-----+-----+-------+--------+
|PassengerId|Pclass|   Sex| Age|SibSp|Parch|   Fare|Survived|
+-----------+------+------+----+-----+-----+-------+--------+
|          1|     3|  male|22.0|    1|    0|   7.25|       0|
|          2|     1|female|38.0|    1|    0|71.2833|       1|
|          3|     3|female|26.0|    0|    0|  7.925|       1|
|          4|     1|female|35.0|    1|    0|   53.1|       1|
|          5|     3|  male|35.0|    0|    0|   8.05|       0|
|          6|     3|  male|null|    0|    0| 8.4583|       0|
|          7|     1|  male|54.0|    0|    0|51.8625|       0|
|          8|     3|  male| 2.0|    3|    1| 21.075|       0|
|          9|     3|female|27.0|    0|    2|11.1333|       1|
|         10|     2|female|14.0|    1|    0|30.0708|       1|
|         11|     3|female| 4.0|    1|    1|   16.7|       1|
|         12|     1|female|58.0|    0|    0|  26.55|       1|
|         13|     3|  male|20.0|    0|    0|   8.05|       0|
|         14|     3|  male|39.0|    1|    5| 31.275|       0|
|         15|     3|female|14.0|    0|    0| 7.8542|       0|
|         16|     2|female|55.0|    0|    0|   16.0|       1|
|         17|     3|  male| 2.0|    4|    1| 29.125|       0|
|         18|     2|  male|null|    0|    0|   13.0|       1|
|         19|     3|female|31.0|    1|    0|   18.0|       0|
|         20|     3|female|null|    0|    0|  7.225|       1|
+-----------+------+------+----+-----+-----+-------+--------+
only showing top 20 rows

ii)	Replace the missing values in the Age column with the mean value. Also create a new variable (e.g., ‘AgeNA’) indicating whether the value of age was missing or not.

In [103]:
import pyspark.ml

In [104]:
# Load ML pkgs
from pyspark.ml.feature import Imputer

In [29]:
dataset.show(10)

+-----------+------+------+----+-----+-----+-------+--------+
|PassengerId|Pclass|   Sex| Age|SibSp|Parch|   Fare|Survived|
+-----------+------+------+----+-----+-----+-------+--------+
|          1|     3|  male|22.0|    1|    0|   7.25|       0|
|          2|     1|female|38.0|    1|    0|71.2833|       1|
|          3|     3|female|26.0|    0|    0|  7.925|       1|
|          4|     1|female|35.0|    1|    0|   53.1|       1|
|          5|     3|  male|35.0|    0|    0|   8.05|       0|
|          6|     3|  male|null|    0|    0| 8.4583|       0|
|          7|     1|  male|54.0|    0|    0|51.8625|       0|
|          8|     3|  male| 2.0|    3|    1| 21.075|       0|
|          9|     3|female|27.0|    0|    2|11.1333|       1|
|         10|     2|female|14.0|    1|    0|30.0708|       1|
+-----------+------+------+----+-----+-----+-------+--------+
only showing top 10 rows

Filling the missing to the new column AgeNA if values available or not

In [33]:
imptr = Imputer(inputCol=('Age'), outputCol=('Age')).setStrategy('mean')
filled_df = imptr.fit(dataset).transform(dataset)

In [26]:
filled_df.show(10)

+-----------+------+------+-----------------+-----+-----+-------+--------+
|PassengerId|Pclass|   Sex|              Age|SibSp|Parch|   Fare|Survived|
+-----------+------+------+-----------------+-----+-----+-------+--------+
|          1|     3|  male|             22.0|    1|    0|   7.25|       0|
|          2|     1|female|             38.0|    1|    0|71.2833|       1|
|          3|     3|female|             26.0|    0|    0|  7.925|       1|
|          4|     1|female|             35.0|    1|    0|   53.1|       1|
|          5|     3|  male|             35.0|    0|    0|   8.05|       0|
|          6|     3|  male|29.69911764705882|    0|    0| 8.4583|       0|
|          7|     1|  male|             54.0|    0|    0|51.8625|       0|
|          8|     3|  male|              2.0|    3|    1| 21.075|       0|
|          9|     3|female|             27.0|    0|    2|11.1333|       1|
|         10|     2|female|             14.0|    1|    0|30.0708|       1|
+-----------+------+------+-----------------+-----+-----+-------+--------+
only showing top 10 rows

    * Adding new variables AgeNA

In [31]:
df2 = dataset.withColumn("AgeNA", dataset['Age'])
df2.show(10)

+-----------+------+------+----+-----+-----+-------+--------+-----+
|PassengerId|Pclass|   Sex| Age|SibSp|Parch|   Fare|Survived|AgeNA|
+-----------+------+------+----+-----+-----+-------+--------+-----+
|          1|     3|  male|22.0|    1|    0|   7.25|       0| 22.0|
|          2|     1|female|38.0|    1|    0|71.2833|       1| 38.0|
|          3|     3|female|26.0|    0|    0|  7.925|       1| 26.0|
|          4|     1|female|35.0|    1|    0|   53.1|       1| 35.0|
|          5|     3|  male|35.0|    0|    0|   8.05|       0| 35.0|
|          6|     3|  male|null|    0|    0| 8.4583|       0| null|
|          7|     1|  male|54.0|    0|    0|51.8625|       0| 54.0|
|          8|     3|  male| 2.0|    3|    1| 21.075|       0|  2.0|
|          9|     3|female|27.0|    0|    2|11.1333|       1| 27.0|
|         10|     2|female|14.0|    1|    0|30.0708|       1| 14.0|
+-----------+------+------+----+-----+-----+-------+--------+-----+
only showing top 10 rows

In [34]:
df2.na.fill('NA','AgeNA').show()

+-----------+------+------+----+-----+-----+-------+--------+-----+
|PassengerId|Pclass|   Sex| Age|SibSp|Parch|   Fare|Survived|AgeNA|
+-----------+------+------+----+-----+-----+-------+--------+-----+
|          1|     3|  male|22.0|    1|    0|   7.25|       0| 22.0|
|          2|     1|female|38.0|    1|    0|71.2833|       1| 38.0|
|          3|     3|female|26.0|    0|    0|  7.925|       1| 26.0|
|          4|     1|female|35.0|    1|    0|   53.1|       1| 35.0|
|          5|     3|  male|35.0|    0|    0|   8.05|       0| 35.0|
|          6|     3|  male|null|    0|    0| 8.4583|       0| null|
|          7|     1|  male|54.0|    0|    0|51.8625|       0| 54.0|
|          8|     3|  male| 2.0|    3|    1| 21.075|       0|  2.0|
|          9|     3|female|27.0|    0|    2|11.1333|       1| 27.0|
|         10|     2|female|14.0|    1|    0|30.0708|       1| 14.0|
|         11|     3|female| 4.0|    1|    1|   16.7|       1|  4.0|
|         12|     1|female|58.0|    0|    0|  26.55|       1| 58.0|
|         13|     3|  male|20.0|    0|    0|   8.05|       0| 20.0|
|         14|     3|  male|39.0|    1|    5| 31.275|       0| 39.0|
|         15|     3|female|14.0|    0|    0| 7.8542|       0| 14.0|
|         16|     2|female|55.0|    0|    0|   16.0|       1| 55.0|
|         17|     3|  male| 2.0|    4|    1| 29.125|       0|  2.0|
|         18|     2|  male|null|    0|    0|   13.0|       1| null|
|         19|     3|female|31.0|    1|    0|   18.0|       0| 31.0|
|         20|     3|female|null|    0|    0|  7.225|       1| null|
+-----------+------+------+----+-----+-----+-------+--------+-----+
only showing top 20 rows

In [35]:
# iii)	Print the revised dataframe and recalculate the summary statistics.

In [105]:
df2.describe().show()

+-------+-----------------+------------------+------+------------------+------------------+-------------------+-----------------+-------------------+------------------+
|summary|      PassengerId|            Pclass|   Sex|               Age|             SibSp|              Parch|             Fare|           Survived|             AgeNA|
+-------+-----------------+------------------+------+------------------+------------------+-------------------+-----------------+-------------------+------------------+
|  count|              891|               891|   891|               714|               891|                891|              891|                891|               714|
|   mean|            446.0| 2.308641975308642|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824| 32.2042079685746| 0.3838383838383838| 29.69911764705882|
| stddev|257.3538420152301|0.8360712409770491|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|49.69342859718089|0.48659245426485753|14.526497332334035|
|    min|                1|                 1|female|              0.42|                 0|                  0|              0.0|                  0|              0.42|
|    max|              891|                 3|  male|              80.0|                 8|                  6|         512.3292|                  1|              80.0|
+-------+-----------------+------------------+------+------------------+------------------+-------------------+-----------------+-------------------+------------------+

### Step 4 : The goal of this step is to encode all string and categorical variables in order to use them in the pipeline afterwards.

i)	Import all necessary pyspark functions.

In [106]:
from pyspark.ml.feature import VectorAssembler, StringIndexer

In [108]:
# Converting the string into numerical code
# Label encoding 
gender_encoder = StringIndexer(inputCol='Sex', outputCol='Gender').fit(filled_df) #converting sex(string) into numerical

In [109]:
#ii)	Create indexers and encoders for categorical string variables. Call them [field]_indexer and [field]_encoder, respectively. For instance, gender_indexer and gender_encoder.

In [110]:
gender_indexer = gender_encoder.transform(filled_df) #tansform string variables (sex) into nemerical.

In [42]:
gender_indexer.show()

+-----------+------+------+-----------------+-----+-----+-------+--------+------+
|PassengerId|Pclass|   Sex|              Age|SibSp|Parch|   Fare|Survived|Gender|
+-----------+------+------+-----------------+-----+-----+-------+--------+------+
|          1|     3|  male|             22.0|    1|    0|   7.25|       0|   0.0|
|          2|     1|female|             38.0|    1|    0|71.2833|       1|   1.0|
|          3|     3|female|             26.0|    0|    0|  7.925|       1|   1.0|
|          4|     1|female|             35.0|    1|    0|   53.1|       1|   1.0|
|          5|     3|  male|             35.0|    0|    0|   8.05|       0|   0.0|
|          6|     3|  male|29.69911764705882|    0|    0| 8.4583|       0|   0.0|
|          7|     1|  male|             54.0|    0|    0|51.8625|       0|   0.0|
|          8|     3|  male|              2.0|    3|    1| 21.075|       0|   0.0|
|          9|     3|female|             27.0|    0|    2|11.1333|       1|   1.0|
|         10|     2|female|             14.0|    1|    0|30.0708|       1|   1.0|
|         11|     3|female|              4.0|    1|    1|   16.7|       1|   1.0|
|         12|     1|female|             58.0|    0|    0|  26.55|       1|   1.0|
|         13|     3|  male|             20.0|    0|    0|   8.05|       0|   0.0|
|         14|     3|  male|             39.0|    1|    5| 31.275|       0|   0.0|
|         15|     3|female|             14.0|    0|    0| 7.8542|       0|   1.0|
|         16|     2|female|             55.0|    0|    0|   16.0|       1|   1.0|
|         17|     3|  male|              2.0|    4|    1| 29.125|       0|   0.0|
|         18|     2|  male|29.69911764705882|    0|    0|   13.0|       1|   0.0|
|         19|     3|female|             31.0|    1|    0|   18.0|       0|   1.0|
|         20|     3|female|29.69911764705882|    0|    0|  7.225|       1|   1.0|
+-----------+------+------+-----------------+-----+-----+-------+--------+------+
only showing top 20 rows

In [111]:
# Get the labels 
gender_encoder.labels

['male', 'female']

In [112]:
print(gender_indexer.columns) #check the columns to use

['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived', 'Gender']

In [113]:
required_features = ['PassengerId', 'Pclass', 'Gender', 'Age', 'SibSp', 'Parch', 'Fare']

# Step 5: The goal of this step is to assemble all feature columns into a feature vector in order to be used in the pipeline. Tip: you can use the VectorAssembler to do this.

# VectorAssembler
vec_assembler = VectorAssembler( inputCols=required_features, outputCol='features')

In [117]:
vec_assembler = VectorAssembler( inputCols=required_features, outputCol='features')

In [118]:
vec_df = vec_assembler.transform(gender_indexer)

In [119]:
print (vec_df)

DataFrame[PassengerId: int, Pclass: int, Sex: string, Age: double, SibSp: int, Parch: int, Fare: double, Survived: int, Gender: double, features: vector]

In [120]:
df_final = vec_df.select('features', 'Survived')

In [121]:
df_final.show()

+--------------------+--------+
|            features|Survived|
+--------------------+--------+
|[1.0,3.0,0.0,22.0...|       0|
|[2.0,1.0,1.0,38.0...|       1|
|[3.0,3.0,1.0,26.0...|       1|
|[4.0,1.0,1.0,35.0...|       1|
|[5.0,3.0,0.0,35.0...|       0|
|[6.0,3.0,0.0,29.6...|       0|
|[7.0,1.0,0.0,54.0...|       0|
|[8.0,3.0,0.0,2.0,...|       0|
|[9.0,3.0,1.0,27.0...|       1|
|[10.0,2.0,1.0,14....|       1|
|[11.0,3.0,1.0,4.0...|       1|
|[12.0,1.0,1.0,58....|       1|
|[13.0,3.0,0.0,20....|       0|
|[14.0,3.0,0.0,39....|       0|
|[15.0,3.0,1.0,14....|       0|
|[16.0,2.0,1.0,55....|       1|
|[17.0,3.0,0.0,2.0...|       0|
|[18.0,2.0,0.0,29....|       1|
|[19.0,3.0,1.0,31....|       0|
|[20.0,3.0,1.0,29....|       1|
+--------------------+--------+
only showing top 20 rows

# Step 6 : The goal of this step is to create the logistic regression model to be used in the pipeline

In [53]:
from pyspark.ml.classification import LogisticRegression

In [54]:
lr = LogisticRegression(featuresCol='features',labelCol='Survived')

#  Step 7 : The goal of this step is to assemble the pipeline.

# Step 8 : The goal of this step is to prepare the training and test datasets

i)Use a 70-30 random split for the training and test sets, respectively.

In [123]:
train, test = df_final.randomSplit([0.7,0.3], seed=42)

In [124]:
# Verify the size of each dataset after the split.

In [125]:
df_final.count()

891

In [126]:
train.count()

659

In [127]:
test.count()

232

#  Step 9 : The goal of this step is to fit the model and then use it on the test set to generate
predictions

i)	Fit the model using the predefined pipeline on the training set.

In [128]:
lr_model = lr.fit(train)

ii)	Use the fitted model for prediction on the test set.

In [63]:
y_pred = lr_model.transform(test)

iii)	Report the logistic regression coefficients.

In [129]:
y_pred.show()

+--------------------+--------+--------------------+--------------------+----------+
|            features|Survived|       rawPrediction|         probability|prediction|
+--------------------+--------+--------------------+--------------------+----------+
|(7,[0,1,3],[272.0...|       1|[2.15425375627881...|[0.89606560582915...|       0.0|
|(7,[0,1,3],[467.0...|       0|[1.21169147821365...|[0.77059809978306...|       0.0|
|(7,[0,1,3],[598.0...|       0|[3.11283037468230...|[0.95741889387706...|       0.0|
|(7,[0,1,3],[634.0...|       0|[0.07827835357711...|[0.51955960179140...|       0.0|
|(7,[0,1,3],[816.0...|       0|[0.06220230289395...|[0.51554556373398...|       0.0|
|(7,[0,1,3],[823.0...|       0|[0.40308650654328...|[0.59942900007551...|       0.0|
|[1.0,3.0,0.0,22.0...|       0|[2.39000683199169...|[0.91606209343172...|       0.0|
|[5.0,3.0,0.0,35.0...|       0|[2.57245456948041...|[0.92906762489188...|       0.0|
|[7.0,1.0,0.0,54.0...|       0|[1.02525208198976...|[0.73599437804879...|       0.0|
|[9.0,3.0,1.0,27.0...|       1|[-0.5208176768165...|[0.37266105338633...|       1.0|
|[10.0,2.0,1.0,14....|       1|[-2.0452186638291...|[0.11453640095594...|       1.0|
|[14.0,3.0,0.0,39....|       0|[3.49235982055951...|[0.97046959953320...|       0.0|
|[15.0,3.0,1.0,14....|       0|[-1.2310224725029...|[0.22600251923293...|       1.0|
|[16.0,2.0,1.0,55....|       1|[-0.6800001659500...|[0.33626126555731...|       1.0|
|[18.0,2.0,0.0,29....|       1|[1.22423998982698...|[0.77280884802555...|       0.0|
|[20.0,3.0,1.0,29....|       1|[-0.5842822506694...|[0.35794784422054...|       1.0|
|[21.0,2.0,0.0,35....|       0|[1.41494435515546...|[0.80454462712703...|       0.0|
|[25.0,3.0,1.0,8.0...|       0|[-0.3644061276993...|[0.40989338668536...|       1.0|
|[28.0,1.0,0.0,19....|       0|[0.37590814591359...|[0.59288581963037...|       0.0|
|[29.0,3.0,1.0,29....|       1|[-0.5864415611225...|[0.35745174129809...|       1.0|
+--------------------+--------+--------------------+--------------------+----------+
only showing top 20 rows

In [130]:
lr_model.summary

In [131]:
lrm_summary = lr_model.summary

In [132]:
lrm_summary.predictions.show()

+--------------------+--------+--------------------+--------------------+----------+
|            features|Survived|       rawPrediction|         probability|prediction|
+--------------------+--------+--------------------+--------------------+----------+
|(7,[0,1,3],[180.0...|     0.0|[2.61492569485528...|[0.93181601637760...|       0.0|
|(7,[0,1,3],[264.0...|     0.0|[0.53474396307020...|[0.63058888472780...|       0.0|
|(7,[0,1,3],[278.0...|     0.0|[1.22838583853847...|[0.77353593339872...|       0.0|
|(7,[0,1,3],[303.0...|     0.0|[1.90467248243697...|[0.87041944504089...|       0.0|
|(7,[0,1,3],[414.0...|     0.0|[1.21637296550050...|[0.77142462895078...|       0.0|
|(7,[0,1,3],[482.0...|     0.0|[1.21036652898152...|[0.77036379570154...|       0.0|
|(7,[0,1,3],[675.0...|     0.0|[1.19331884886146...|[0.76733411215394...|       0.0|
|(7,[0,1,3],[733.0...|     0.0|[1.18819571183057...|[0.76641821343115...|       0.0|
|(7,[0,1,3],[807.0...|     0.0|[0.44564029329568...|[0.60960217603063...|       0.0|
|[2.0,1.0,1.0,38.0...|     1.0|[-2.2617509637085...|[0.09434065943680...|       1.0|
|[3.0,3.0,1.0,26.0...|     1.0|[-0.7364240763971...|[0.32378659419467...|       1.0|
|[4.0,1.0,1.0,35.0...|     1.0|[-2.3474276847821...|[0.08727045104418...|       1.0|
|[6.0,3.0,0.0,29.6...|     0.0|[2.35343373505234...|[0.91320677239095...|       0.0|
|[8.0,3.0,0.0,2.0,...|     0.0|[2.32930386243559...|[0.91127506817345...|       0.0|
|[11.0,3.0,1.0,4.0...|     1.0|[-1.2193216962592...|[0.22805584146016...|       1.0|
|[12.0,1.0,1.0,58....|     1.0|[-1.6968894815096...|[0.15487195345199...|       1.0|
|[13.0,3.0,0.0,20....|     0.0|[1.95464031631801...|[0.87595174018044...|       0.0|
|[17.0,3.0,0.0,2.0...|     0.0|[2.66207766686404...|[0.93475150034971...|       0.0|
|[19.0,3.0,1.0,31....|     0.0|[-0.2027892023444...|[0.44947572527668...|       1.0|
|[22.0,2.0,0.0,34....|     1.0|[1.40082715303689...|[0.80231511244625...|       0.0|
+--------------------+--------+--------------------+--------------------+----------+
only showing top 20 rows

In [69]:
lrm_summary.predictions.describe().show()

+-------+-------------------+------------------+
|summary|           Survived|        prediction|
+-------+-------------------+------------------+
|  count|                659|               659|
|   mean|0.38239757207890746|0.3566009104704097|
| stddev|0.48634204981328594|0.4793593528009135|
|    min|                0.0|               0.0|
|    max|                1.0|               1.0|
+-------+-------------------+------------------+

# * Step 10 : The goal of this step is to evaluate the model performance

In [70]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [71]:
pred_labels = lr_model.evaluate(test)

In [72]:
# Print the first 5 rows of the results.

In [73]:
pred_labels.predictions.show(5)

+--------------------+--------+--------------------+--------------------+----------+
|            features|Survived|       rawPrediction|         probability|prediction|
+--------------------+--------+--------------------+--------------------+----------+
|(7,[0,1,3],[272.0...|       1|[2.15425375627881...|[0.89606560582915...|       0.0|
|(7,[0,1,3],[467.0...|       0|[1.21169147821365...|[0.77059809978306...|       0.0|
|(7,[0,1,3],[598.0...|       0|[3.11283037468230...|[0.95741889387706...|       0.0|
|(7,[0,1,3],[634.0...|       0|[0.07827835357711...|[0.51955960179140...|       0.0|
|(7,[0,1,3],[816.0...|       0|[0.06220230289395...|[0.51554556373398...|       0.0|
+--------------------+--------+--------------------+--------------------+----------+
only showing top 5 rows

In [74]:
eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='Survived')

ii)	Report the AUC for this model. .

In [76]:
AUC =eval.evaluate(pred_labels.predictions)

In [77]:
AUC

0.7447574334898278

In [134]:
#Our AUC is 75% which is acceptable, it would implicate the great performance of the model as it is above 50%.